body {
    padding: 0;
    margin: 0;
    color: #222222;

} 
    
.header-main{
    padding: 15px 0;
}

.simplephoto {
    width: 100%;
    height: 790px;
}



.menu {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0 150px;
    text-align: center;
}


.menu-item {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
}

.menu-item-link {
    
    text-decoration: none;
    color: #16a085;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

    .container {
    width: 930px;
    margin: 0 auto;
}

    .main {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.article-text {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

.button {
    background: #16a085;
    color: #fff;
    border-radius: 3px;
    display: block;
    width: 192px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin-top: 43px;
}

footer {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.footer-text{
    text-align: right;
}





